
#propertyEditor{
    width: 100%;
    height: 100%;
}

#propertySettings{
    width:100%;
}

.propertyName{
    text-align: center;
    margin-right: 5px;
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-size: 20px;
}

.propertySettingFrame{
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.propertySettingFrame * {
    text-overflow: clip;
}

.propertyCard{
    min-height: 100px;
    width:100%;
    margin-top: 5px;
}

.propertyToggle{
    width: 50px;
    height:50px;
    background-color: lightgray;
    opacity: 0.5;
    border-radius: 3px;
    padding:5px;
}

.propertyToggle.enable{
    background-color: lightskyblue;
    opacity: 1;
    transition-duration: 300ms;
}

.propertyToggle.enable:hover{
    background-color: lightsteelblue;
}

.propertyToggle * {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 600px) {
    #propertyEditor h1{
        font-size: large;
    }

}
