
.roadComponent {
    width: 50px;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row;
    flex-shrink: 0;
    transition-duration: 100ms;
    transition-property: opacity;
}

.roadComponent * {
    width: 100%;
    height: 100%;
}

.roadComponent::before{
    position: absolute;
    background-color: transparent;
    left: 0;
    content: "";
    height: calc(100% - 0px);
    width: calc(100% - 0px);
    border-width: 3px;
    transition: border-color 300ms;
    border-style:  dashed;
    border-color: transparent;
}

.roadComponent:hover::before{
    /*background-color: cyan;*/
    border-width: 3px;
    border-color: cyan;
    left: 0;
}

.roadComponent.selected::before{
    border-style:  solid;
    border-width: 3px;
    border-color: yellow;
    left: 0;
}

.road {
    background-color: hsl(0, 0%, 11%);
    flex-shrink: 1;
}

.sidewalk {
    background-color: rgb(145, 39, 39);
    flex-shrink: 1;
}

.bollard {
    background-color: rgb(143, 143, 143);
    flex-shrink: 1;
}

.emptyRoadComponent {
    width: 0px;
    display: block;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.384);
    transition-duration: 0.1s;
    transition-property: width;
    flex-shrink: 0;
}
