<div id="mainWindow" draggable="false" class="">
	<div id="leftSlideout">
		<div id="propertyEditor" class="">
		</div>
	</div>
	<div id="sidebar" class="window">
		<div class="utilButtonList window" >
				<div class="window utilButton" id="undoButton" title="復原"><i class="fa-solid fa-rotate-left"></i></div>
				<div class="window utilButton" id="redoButton" title="取消復原"><i class="fa-solid fa-rotate-right"></i></div>
				<div class="window utilButton active" onclick="OnClearLand()" title="清空本段"><i class="fa-regular fa-file-excel"></i></div>
				{{#if developing}}
				<div class="window utilButton active" onclick="OnClearLocalStorage()" title="清空紀錄(debug)"><i class="fa-solid fa-xmark"></i></div>
				<div class="window utilButton active" onclick="OnClickDebugButton()" title="錯誤紀錄(debug)"><i class="fa-solid fa-bug"></i></div>
				{{/if}}
		</div>
		{{>componentList_partial this}}
	</div>

	<div id="editor" class="window" style="margin:2px;">
		<div style="position: absolute; height:100%;width:90%;background-color:rgb(161, 114, 43);left:5%;z-index:-1;"></div>
		<div id="trashcan" class="roadScope" onmouseenter="EnterTrashcan()" onmouseleave="LeaveTrashcan()"><i style="border: solid 3px;border-radius: 50%;padding: 1rem; font-size:xx-large;color: rgb(206, 206, 206);border-color: rgb(206, 206, 206);" class="fa-solid fa-trash"></i></div>
		<div id="designInfo" class="unusedSection roadScope" style="background-color: white;">
			<div id="rightInfo">
				<div style="width:50%;height:80%;display:flex;justify-content:center;flex-direction:column;">
					<div style="width:100%;height:30%;">
						<div class="progressCase">
							<div id="stageProgress" class="progressCore"></div>
						</div>
					</div>
					<div style="width:100%;height:70%;display:flex;justify-content:center;">
						<span id="currentStageCount">0</span>
						<span>/</span>
						<span id="totalStageCount">0</span>
					</div>
				</div>
			</div>
			<div id="stageNameInfo" >
				<span id="stageName"></span>
			</div>
			<div id="leftInfo">
				<div id="widthInfo">
					<span id="designedWidthIndicator"></span>
					<span>m/</span>
					<span id="landWidthIndicator"></span>
					<span>m</span>
				</div>
			</div>
		</div>
		<div id="stopSection" class="unusedSection roadScope" style=""></div>
		<div id="intermidiateSection" class="roadScope unusedSection" style="background-color:dimgray;height:20px;"></div>
		<div id="roadSection" class="unusedSection roadScope "></div>

		<div id="nextButton" class="stageCntlButton" onclick="OnSwitchSegment();">下一步</div>
		<div id="prevButton" class="stageCntlButton active" onclick="OnSwitchSegment(false);">上一步</div>
		<div id="warningPopup" class="popupFrame window" onfocusout="OnWarningPopupFocusout(event);"  tabindex="0">
			<div class="frame">
				<div id="warningPopupTitle">錯誤清單</div>
				<hr style="margin-top:5px;margin-bottom:5px;">
				<div id="warningPopupBody"></div>
			</div>
		</div>
	</div>

</div>

<div id="data" style="display:none;">
	{{>componentTemplate_partial componentList=componentList}}
</div>

<script type="module" src="roadEditor/javascripts/roadEditor.js"></script>