<div id="mainWindow" draggable="false">
	<div id="toolbar">
		<div id="sectionCntlGroup"></div>
		<div id="stateName"></div>
		<div id="dimensionCntlGroup"></div>
	</div>
	<div id="workingArea">
	</div>
	<button id="prevButton" class="stageCntlButton" onclick="OnReturnToEditor();">上一步</button>
	<button id="nextButton" class="stageCntlButton" onclick="OnConfirm();"> 確定</button>
</div>

<script type="module" src="javascripts/present.js"></script>