<div id="mainWindow" draggable="false">
	<div id="toolbar">
		<div id="sectionCntlGroup">
			<button id="sectionSwitch">
				切換路口顯示
			</button>
		</div>
		<div id="stateName"></div>
		<div id="dimensionCntlGroup">
			<button id="dimensionSwitch">
				切換3D顯示
			</button>
		</div>
	</div>
	<div id="workingArea">
		<svg id="roadRenderArea" style="width:100%;height:100%; background-color:rgb(161, 114, 43);"></svg>
	</div>
	<button id="prevButton" class="stageCntlButton" onclick="OnReturnToEditor();">上一步</button>
	<button id="nextButton" class="stageCntlButton" onclick="OnConfirm();"> 確定</button>
</div>

<script type="module" src="javascripts/present.js"></script>