<div id="mainWindow" draggable="false">
	<div id="toolbar">
		<div id="sectionCntlGroup">
			<button id="sectionSwitch">
				切換路口顯示
			</button>
		</div>
		<div id="stateName"></div>
		<div id="dimensionCntlGroup">
			<button id="dimensionSwitch">
				切換3D顯示
			</button>
		</div>
	</div>
	<div id="workingArea">
		<div id="intersectionRenderArea">
			<svg id="intersectionRoad_0" class="intersectionRoad"></svg>
			<svg id="intersectionRoad_1" class="intersectionRoad"></svg>
			<svg id="intersectionRoad_2" class="intersectionRoad"></svg>
			<svg id="intersectionRoad_3" class="intersectionRoad"></svg>
			<svg id="intersectionRoad_center" class="intersectionRoad road"></svg>
		</div>
		<svg id="roadRenderArea" style=""></svg>
		<div id="crossView">
			<div style="font-size:large;">斷面顯示</div>
			<div id="stopSectionCrossSection" class="crossSectionView">
				<div class="title">
					儲車段
				</div>
				<div class="view">

				</div>
			</div>
			<div id="roadSectionCrossSection" class="crossSectionView" style="z-index: 1;">
				<div class="title">
					道路段
				</div>
				<div class="view">

				</div>
			</div>
		</div>
	</div>
	<button id="prevButton" class="stageCntlButton" onclick="OnReturnToEditor();">上一步</button>
	<button id="nextButton" class="stageCntlButton" onclick="OnConfirm();"> 確定</button>
</div>

<script type="module" src="javascripts/present.js"></script>