<div id="mainWindow" draggable="false" style="padding-bottom:50px; padding-top:20px;">
	<svg id="drawingBoard" viewbox="0 0 100 100" style="width:100%;height:100%;background-color:blue;"></svg>
	<button id="prevButton" class="stageCntlButton" onclick="OnReturnToEditor();">上一步</button>
	<button id="nextButton" class="stageCntlButton" > 確定</button>
</div>

<script type="module" src="javascripts/present.js"></script>