
#designInfo{
	border-width: 3px;
	border-bottom: solid;
	border-color: gray;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 3;
}


#stageNameInfo{
	width:fit-content;
	border: double black;
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85%;
}

#stageNameInfo span{
	margin: 5px;
	font-size: x-large;
	height: fit-content;
	line-height: normal;
}

#leftInfo{
	width: 20%;
	height: 95%;
	display:flex;
	align-items: center;
}

#rightInfo{
	display: flex;
	align-items: center;
	justify-content: end;
	width: 20%;
}

#widthInfo{
	display: flex;
	justify-content: end;
	position: relative;
	align-items: center;
	width: fit-content;
	height: 100%;
	
}

#widthInfo #landWidthChanger{
	position: absolute;
	background-color: darkgray;
	width: 300px;
	height: fit-content;
	top: calc(100% + 5px);
	padding: 5px;
	right: 0px;
	display: none;
	border-radius: 5px;
}

.landwidthEditTrigger{
	font-size:xx-small;
	margin-left: 2px;
	color: lightgray;
	transition-duration: 150ms;
}

.landwidthEditTrigger:hover{
	color: gray;
}



#widthInfo #landWidthChanger::after{
	content: "";
	position: absolute;
	top: -19px;
	left: calc(100% - 20px);
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent darkgray transparent;
}

#widthInfo #landWidthChanger.active{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#widthInfo #landWidthChanger * button{
	border-width: 0px;
	width: 40%;
	transition-duration: 100ms;
	border-radius: 5px;
}

#widthInfo #landWidthChanger .apply{
	background-color: greenyellow;
}

#widthInfo #landWidthChanger .cancel{
	background-color: peachpuff;
}

#widthInfo #landWidthChanger .apply:hover{
	background-color: green;
}

#widthInfo #landWidthChanger .cancel:hover{
	background-color: coral;
}

.noInputStepButton::-webkit-outer-spin-button{

	-webkit-appearance: none;
	margin: 0;
}

.noInputStepButton::-webkit-inner-spin-button{

	-webkit-appearance: none;
	margin: 0;
}

.progressCase{
	border-radius: 20px;
	height: 90%;
	width:100%;
	border: solid 0.5px black;
	overflow-x: hidden;
}

.progressCore{
	height: 100%;
	background-color:#03f203;
	transition-duration: 300ms;
}