<div id="componentList" draggable="false" style="margin:2px;">
	{{#each componentList as | component |}}
		<div class="window componentListItem drag" draggable="false" ontouchstart="ComponentDragStart(event)" onmousedown="ComponentDragStart(event)" component="{{component.tag}}">
			<div class="componentListItemLabel">
				{{component.label}}
			</div>
			<div class="componentListItemIcon">
				<div style="background-color: {{component.iconColor}};"></div>
			</div>
		</div>
	{{/each}}
</div>