#crossView{
	position:fixed;
	bottom: 0px;
	left:0px;
	width: 100vw;
	height: 0px;
	padding: 5px;
	background-color: lightgray;
	transition-duration: 300ms;
	opacity: 0;
}

#crossView.active{
	max-height: 70vh;
	height: 550px;
	opacity: 1;
	overflow-y:auto;
}

.crossSectionView{
	background-color: white;
	height: 250px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.crossSectionView .title{
	font-size: medium;
	width: 100%;
	margin-bottom: 5px;
	border-bottom: solid lightgray 1px;
}

.crossSectionView .view{
	flex-grow:1;
	width:100%;
	display: flex;
	flex-direction: row;
}

.crossViewComponent{
	height: 100%;
	border-left: 2px solid magenta;
	display:flex;
	flex-direction: column;
}

.crossViewComponent .name{
	height:20%;
	width:100%;
	text-align: center;
	font-size: x-small;
}
.crossViewComponent .component{
	height:10%;
	width:100%;
}
.crossViewComponent .lowerIcon{
	height:45%;
	width:100%;
}
.crossViewComponent .upperIcon{
	height:25%;
	width:100%;
	display: flex;
	justify-content: center;
}