@import url("../../roadEditor/stylesheets/roadComponentStyle.css");

#mainWindow{
	background-color: green;
	height: 100%;
	width: 100%;
}

#nextButton{
	right: 5px;
	bottom: 10px;
}

#prevButton{
	left: 5px;
	bottom: 10px;
}

.stageCntlButton{
	height: 30px;
	width: 70px;
	position:absolute;
	border-width: 3px;
	color: cyan;
	border: solid;
	line-height: 24px;
	text-align: center;
	background-color: darkcyan;
	font-weight: 1000;
	opacity: 1;
	z-index: 2;
	border-radius: 5px;
	transition: background-color 300ms;
}
